<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <title>EventosApp</title>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
  
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection" />
  
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
</head>

<body>

  <header>
  <nav>
    <div class="nav-wrapper">
      <div class="row">
        <div class="col s6 offset-s3">
          <a href="#!" class="brand-logo left"><i class="material-icons left">equalizer</i>Eventos</a>
        </div>
      </div>
    </div>
  </nav>
  </header>
  
  <div class="row">
    <div class="col s12 offset-s0 m8 offset-m2 l6 offset-l3 xl4 offset-xl4">
      <div class="card z-depth-2">
        <div class="card-content">
          <form name="f" th:action="@{/checar}" th:object="${usuario}" method="post">
            <div class="row">
              <h5>Login</h5>
            </div>
            <div class="row">
              <div class="input-field">
                <i class="material-icons prefix">account_circle</i> 
                <input th:field="${usuario.login}" id="login" name="login" type="email" class="validate" /> 
                <label for="login">E-mail</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field">
                <i class="material-icons prefix">lock</i> 
                <input th:field="${usuario.senha}" id="senha" name="senha" type="password" pattern=".{3,20}" class="validate" /> 
                <label for="senha">Senha</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field">
                <button class="btn waves-effect waves-light" type="submit">
                  <i class="material-icons left">send</i>Entrar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div th:if="${param.error}" class="container red lighten-5">
          <p>Credencial informada não corresponde a nenhum usuário válido, ou o e-mail ainda não foi verificado.</p>
        </div>
        <div th:if="${param.logout}" class="container red lighten-5">
          <p>Você saiu do sistema com sucesso.</p>
        </div>
      </div>
    </div>
  </div>
  
  <!--JavaScript at end of body for optimized loading-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>